<%= form_for(@pelito) do |f| %>
  <% if @pelito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pelito.errors.count, "error") %> prohibited this pelito from being saved:</h2>

      <ul>
      <% @pelito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :forma %><br>
    <%= f.text_field :forma %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :grosor %><br>
    <%= f.number_field :grosor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
